/home/alex/devel/webwork/src/main/resources/templates/webwork-config/configwebwork/success.vm                                                                                                                       1463/7654               19%
<html>
    <head>
        <meta name="decorator" content="atl.admin"/>
        <meta name="admin.active.section" content="admin_plugins_menu/group-bosses-section"/>
    ##    $webResourceManager.requireResource("com.atlassian.auiplugin:aui-buttons")
        $webResourceManager.requireResource("com.atlassian.auiplugin:aui-select2")
    ##    $webResourceManager.requireResourcesForContext("com.atlassian.auiplugin:message")
        $webResourceManager.requireResourcesForContext("com.atlassian.auiplugin:aui-experimental-iconfont")
        $webResourceManager.requireResourcesForContext("groupbosses")
    </head>

    <body class="aui">

        <div id="aui-message-bar"></div>


        <section id="demo-dialog" class="aui-dialog2 aui-dialog2-medium aui-layer" role="dialog" aria-hidden="true">
            <header class="aui-dialog2-header">
                <h2 class="aui-dialog2-header-main">Добавить руководителя подразделения</h2>
                <a class="aui-dialog2-header-close">
                    <span class="aui-icon aui-icon-small aui-iconfont-close-dialog">Close</span>
                </a>
            </header>

            <div class="aui-dialog2-content">

                <form class="aui">

##                    тут переменные для передачи параметров тип запроса (редактирование или добавление) и номер записи
                    <input type="hidden" name="typezapros" value="">
                    <input type="hidden" name="numberid" value="">
                    <input type="hidden" name="groupname" value="">
                    <input type="hidden" name="username" value="">
                    <input type="hidden" name="userdisplayname" value="">

                    <div class="field-group">
                        <label for="podr-field">Подразделение</label>
                        <select id="podr-field">
                            #foreach($group in $allGroups)
                                <option value="$group.getName()">$group.getName()</option>
                            #end
                        </select>

##                        <input id="podr-field" type="hidden" class="user_select" style="width: 200px;"></input>
                    </div>

                    <div class="field-group">
                        <label for="boss-field">Руководитель</label>
                        <input id="boss-field" type="hidden" class="user_select" style="width: 200px;"></input>
                    </div>
                </form>

            </div>

            <footer class="aui-dialog2-footer">
                <div class="aui-dialog2-footer-actions">
                    <button id="dialog-submit-button" class="aui-button aui-button-primary">ОК</button>
                    <button id="dialog-cancel-button" class="aui-button">Отмена</button>
                </div>
            </footer>
        </section>



        <button id="dialog-show-button" class="aui-button aui-button-primary">Добавить строку</button>



        <table id="bosses-table" class="aui">
            <thead>
                <tr>
                    <th>Подразделение</th>
                    <th>Руководитель</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span class="groupname">jira-administrators</span>
                    <input type="hidden" name="numberid" value="1">
                </td>
                <td>
                    <span class="boss">admin</span>
                    <input type="hidden" name="username" value="admin">
                </td>
                <td>
                    <button class="aui-button doedit">Редактировать</button>
                </td>
                <td>
                    <button class="aui-button dodelete">Удалить</button>
                </td>
            </tr>
            <tr>
                <td>
                    <span class="groupname">Дополнительная группа</span>
                    <input type="hidden" name="numberid" value="2">
                </td>
                <td>
                    <span class="boss">Пользователь 1</span>
                    <input type="hidden" name="username" value="user1">
                </td>

                <td>
                    <button class="aui-button doedit">Редактировать</button>
                </td>
                <td>
                    <button class="aui-button dodelete">Удалить</button>
                </td>
            </tr>
            </tbody>
        </table>







    </body>
</html>
